.App {
  text-align: center;
  font-size: 18pt;
}

.form-name, .form-email {
    padding: 5px;
    margin: 2px;
}
.buttonClass {
    background-color: darkred;
    padding: 7px;
    margin: 4px;
}
.buttonClass:hover {
    cursor: pointer;
    color: white;
}


